<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <log4net>

    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/logfile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_dd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!-- Por defecto cualquier traza de clase, excepto si se especifica alguna en un logger, irá a parar al appender ref-->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingLogFileAppender"></appender-ref>
    </root>

  </log4net>


  <connectionStrings>
  </connectionStrings>

  <appSettings>
	  
    <!-- Clave para definir el intervalo de tiempo (minutos) en el que sera ejecutado el proceso del servicio tras la primera ejecucion -->
    <add key="PROCESS_INTERVAL" value="10" />
	  
	<!-- Configuracion del servicio Dynv6 -->
	<add key="DYNV6_HOST_NAME" value="" />
	<add key="DYNV6_HTTP_TOKEN" value="" />
	  
  </appSettings>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>
